/*.label {
    -fx-
}
*/
.label{
    -fx-text-fill: rgba(0,0,0,0.6);
    -fx-font-size: 50;
    -fx-margin:30;
}

.button {
    -fx-base:#3c7fb1;
   /* -fx-color: -fx-focused-base;*/
}

.button: hover {
    /*-fx-border-radius:4;*/
    -fx-border-color:green;
    -fx-scale-y:1.2;
    -fx-scale-x:1.05;
}

