#mainLabels{
    -fx-text-fill: rgba(0,0,0,0.6);
    -fx-font-size: 50;
}

.label{
    -fx-font-size: 15;
}

.button {
    -fx-base:#3c7fb1;
}

.button: hover {
    -fx-scale-y:1.2;
    -fx-scale-x:1.05;
}